body{
    margin: 0;
    text-align: center;
    font-family: 'merriweather', serif;
}
h1{
    margin-top: 50px;
    position: relative;
    top: 20px;
    font-family: 'sacramento',serif;
    font-size: 5.625rem;
    color: #66bfbf;
    line-height: 1;
}
h3{
    position: relative;
    top: 20px;
    font-family: 'montserrst',serif;
    color: #11999e;
}
h2{
    font-family: 'montserrst',serif ;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
}
.topcontainer{
    padding-top:100px ;
    background-color: #e4f9f5;
    
}

.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top:20px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}
.skill-row{
    width: 50%;
    position: relative;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.coding{
    width: 25%;
    float: left;
    margin: 0 30px 0 0;
}
.cricket{
    width: 25%;
    float: right;
    margin-right: 30px;
}
.description-web{
    color: #40514e;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color:gray;
    border-width: 5px;
    width: 5%;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, 11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, 11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, 11999e);
    background-image: -o-linear-gradient(top, #11cdd4, 11999e);
    background-image: linear-gradient(to bottom, #11cdd4, 11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 2px 3px 3px #666666;
    font-family:'montserrst' ;
     
    
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, 2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, 2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, 2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, 2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, 2bc4ad);
    text-decoration: none;
  }

.contact-me{
    margin-bottom: 60px;
}
.bottom-container{
    background-color: #66bfbf; 
    padding: 50px;
}
 a {
    color: #11999e;
    margin: 20px;
    font-family: 'montserrst';
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.belonging{
    color: #eaf6f6;
}
.middle-container{
    padding-top: 100px;
}